In [6]:
import pandas as pd
import numpy
!pip install yfinance
import yfinance as yf

Requirement already satisfied: yfinance in c:\users\dariu\anaconda3\lib\site-packages (0.2.14)
Requirement already satisfied: cryptography>=3.3.2 in c:\users\dariu\anaconda3\lib\site-packages (from yfinance) (37.0.1)
Requirement already satisfied: html5lib>=1.1 in c:\users\dariu\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\dariu\anaconda3\lib\site-packages (from yfinance) (2.3.6)
Requirement already satisfied: numpy>=1.16.5 in c:\users\dariu\anaconda3\lib\site-packages (from yfinance) (1.21.5)
Requirement already satisfied: pytz>=2022.5 in c:\users\dariu\anaconda3\lib\site-packages (from yfinance) (2023.3)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\dariu\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pandas>=1.3.0 in c:\users\dariu\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: lxml>=4.9.1 in c:\users\dariu\anaconda3\lib\site-packages (from yfinance) (4.9.1)
Requirement already satisfied: requests>=2.26 in c:\users\dariu\anaconda3\lib\site-packages (from yfinance) (2.28.1)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\dariu\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\dariu\anaconda3\lib\site-packages (from yfinance) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\dariu\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.1)
Requirement already satisfied: cffi>=1.12 in c:\users\dariu\anaconda3\lib\site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: six>=1.9 in c:\users\dariu\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\dariu\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dariu\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dariu\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2022.9.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\dariu\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\dariu\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dariu\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: pycparser in c:\users\dariu\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

# Import Data

In [7]:
data = yf.download(
        tickers = ['AAPL', 'MSFT','GOOG', 'META'],
        period = '52wk',
        interval = '1d'
    )
prices = data['Adj Close']
print(f"Retrieved {len(prices)} data points from Yahoo Finance")

[*********************100%***********************]  4 of 4 completed
Retrieved 250 data points from Yahoo Finance

# Analyze Data

In [8]:
data.describe()

        Adj Close                                           Close              \
             AAPL        GOOG        META        MSFT        AAPL        GOOG
count  250.000000  250.000000  250.000000  250.000000  250.000000  250.000000
mean   149.161368  105.166804  160.179240  255.993974  149.596200  105.166804
std     10.901436   11.485977   32.772784   18.063723   10.994635   11.485977
min    124.829399   83.489998   88.910004  213.114120  125.019997   83.489998
25%    141.965420   95.835001  133.284996  241.437767  142.457497   95.835001
50%    148.892677  103.549999  163.610001  254.442696  149.295006  103.549999
75%    155.844021  114.579378  184.409996  269.721901  156.720005  114.579378
max    174.005936  141.063004  231.839996  307.859802  175.059998  141.063004

                                     High              ...         Low  \
             META        MSFT        AAPL        GOOG  ...        META
count  250.000000  250.000000  250.000000  250.000000  ...  250.000000
mean   160.179240  257.292160  151.513360  106.668062  ...  157.254800
std     32.772784   18.426963   10.936422   11.689877  ...   32.145158
min     88.910004  214.250000  127.769997   86.550003  ...   88.089996
25%    133.284996  242.307495  143.722496   97.344997  ...  131.489994
50%    163.610001  255.080002  150.889999  104.205002  ...  161.000000
75%    184.409996  271.092506  158.015003  116.346498  ...  181.580002
max    231.839996  310.880005  178.300003  143.589996  ...  231.020004

                         Open                                      \
             MSFT        AAPL        GOOG        META        MSFT
count  250.000000  250.000000  250.000000  250.000000  250.000000
mean   253.980559  149.451120  105.086433  160.008480  257.242760
std     18.332177   11.056102   11.624126   32.994121   18.613175
min    213.429993  126.010002   85.510002   90.080002  217.550003
25%    240.187500  142.099998   95.749998  132.899998  243.120003
50%    252.650002  148.864998  102.799999  164.260002  256.345001
75%    267.474998  156.062500  114.021624  185.052502  271.704994
max    309.869995  177.500000  143.399506  234.080002  313.269989

             Volume
               AAPL          GOOG          META          MSFT
count  2.500000e+02  2.500000e+02  2.500000e+02  2.500000e+02
mean   8.128530e+07  2.873191e+07  3.447090e+07  2.983926e+07
std    2.392247e+07  1.123839e+07  2.204119e+07  1.026325e+07
min    3.519590e+07  8.567800e+06  1.200760e+07  9.200800e+06
25%    6.624522e+07  2.189435e+07  2.338250e+07  2.284212e+07
50%    7.603945e+07  2.609110e+07  2.865480e+07  2.795595e+07
75%    8.909990e+07  3.235872e+07  3.686688e+07  3.364002e+07
max    1.826020e+08  9.779860e+07  2.323166e+08  8.610200e+07

[8 rows x 24 columns]

In [9]:
prices.describe()

             AAPL        GOOG        META        MSFT
count  250.000000  250.000000  250.000000  250.000000
mean   149.161368  105.166804  160.179240  255.993974
std     10.901436   11.485977   32.772784   18.063723
min    124.829399   83.489998   88.910004  213.114120
25%    141.965420   95.835001  133.284996  241.437767
50%    148.892677  103.549999  163.610001  254.442696
75%    155.844021  114.579378  184.409996  269.721901
max    174.005936  141.063004  231.839996  307.859802

# Apple Stock Data

In [17]:
aapl = yf.Ticker('AAPL')
aapl.actions

                           Dividends  Stock Splits
Date
1987-05-11 00:00:00-04:00   0.000536           0.0
1987-06-16 00:00:00-04:00   0.000000           2.0
1987-08-10 00:00:00-04:00   0.000536           0.0
1987-11-17 00:00:00-05:00   0.000714           0.0
1988-02-12 00:00:00-05:00   0.000714           0.0
...                              ...           ...
2022-02-04 00:00:00-05:00   0.220000           0.0
2022-05-06 00:00:00-04:00   0.230000           0.0
2022-08-05 00:00:00-04:00   0.230000           0.0
2022-11-04 00:00:00-04:00   0.230000           0.0
2023-02-10 00:00:00-05:00   0.230000           0.0

[83 rows x 2 columns]

In [24]:
appl_data = data.stack(level=0).AAPL.unstack(level=1)
appl_data.describe()

,Adj Close,Close,High,Low,Open,Volume
count,250.000000,250.000000,250.000000,250.000000,250.000000,2.500000e+02
mean,149.161368,149.596200,151.513360,147.557800,149.451120,8.128530e+07
std,10.901436,10.994635,10.936422,11.081199,11.056102,2.392247e+07
min,124.829399,125.019997,127.769997,124.169998,126.010002,3.519590e+07
25%,141.965420,142.457497,143.722496,139.924995,142.099998,6.624522e+07
50%,148.892677,149.295006,150.889999,147.200005,148.864998,7.603945e+07
75%,155.844021,156.720005,158.015003,154.034996,156.062500,8.909990e+07
max,174.005936,175.059998,178.300003,174.419998,177.500000,1.826020e+08

# Microsoft Stock Data

In [21]:
msft_data = yf.Ticker('MSFT')
msft_data.actions

                           Dividends  Stock Splits
Date
1987-09-21 00:00:00-04:00       0.00           2.0
1990-04-16 00:00:00-04:00       0.00           2.0
1991-06-27 00:00:00-04:00       0.00           1.5
1992-06-15 00:00:00-04:00       0.00           1.5
1994-05-23 00:00:00-04:00       0.00           2.0
...                              ...           ...
2022-02-16 00:00:00-05:00       0.62           0.0
2022-05-18 00:00:00-04:00       0.62           0.0
2022-08-17 00:00:00-04:00       0.62           0.0
2022-11-16 00:00:00-05:00       0.68           0.0
2023-02-15 00:00:00-05:00       0.68           0.0

[86 rows x 2 columns]

In [22]:
msft_data = data.stack(level=0).MSFT.unstack(level=1)
msft_data.describe()

,Adj Close,Close,High,Low,Open,Volume
count,250.000000,250.000000,250.000000,250.000000,250.000000,2.500000e+02
mean,255.993974,257.292160,260.503919,253.980559,257.242760,2.983926e+07
std,18.063723,18.426963,18.484378,18.332177,18.613175,1.026325e+07
min,213.114120,214.250000,220.410004,213.429993,217.550003,9.200800e+06
25%,241.437767,242.307495,245.302502,240.187500,243.120003,2.284212e+07
50%,254.442696,255.080002,259.639999,252.650002,256.345001,2.795595e+07
75%,269.721901,271.092506,274.637497,267.474998,271.704994,3.364002e+07
max,307.859802,310.880005,314.869995,309.869995,313.269989,8.610200e+07

# Google Stock Data

In [27]:
goog = yf.Ticker('GOOG')
goog.actions

                           Dividends  Stock Splits
Date
2014-03-27 00:00:00-04:00        0.0      2.002000
2015-04-27 00:00:00-04:00        0.0      1.002746
2022-07-18 00:00:00-04:00        0.0     20.000000

In [28]:
goog_data = data.stack(level=0).GOOG.unstack(level=1)
goog_data.describe()

,Adj Close,Close,High,Low,Open,Volume
count,250.000000,250.000000,250.000000,250.000000,250.000000,2.500000e+02
mean,105.166804,105.166804,106.668062,103.697944,105.086433,2.873191e+07
std,11.485977,11.485977,11.689877,11.382268,11.624126,1.123839e+07
min,83.489998,83.489998,86.550003,83.449997,85.510002,8.567800e+06
25%,95.835001,95.835001,97.344997,94.440002,95.749998,2.189435e+07
50%,103.549999,103.549999,104.205002,101.857502,102.799999,2.609110e+07
75%,114.579378,114.579378,116.346498,112.567251,114.021624,3.235872e+07
max,141.063004,141.063004,143.589996,140.943497,143.399506,9.779860e+07

# Meta Stock Data

In [29]:
meta_data = yf.Ticker('META')
meta_data.actions

Empty DataFrame
Columns: [Dividends, Stock Splits]
Index: []

In [30]:
meta_data = data.stack(level=0).META.unstack(level=1)
meta_data.describe()

,Adj Close,Close,High,Low,Open,Volume
count,250.000000,250.000000,250.000000,250.000000,250.000000,2.500000e+02
mean,160.179240,160.179240,163.321560,157.254800,160.008480,3.447090e+07
std,32.772784,32.772784,33.548875,32.145158,32.994121,2.204119e+07
min,88.910004,88.910004,90.459999,88.089996,90.080002,1.200760e+07
25%,133.284996,133.284996,136.827503,131.489994,132.899998,2.338250e+07
50%,163.610001,163.610001,167.625000,161.000000,164.260002,2.865480e+07
75%,184.409996,184.409996,189.477501,181.580002,185.052502,3.686688e+07
max,231.839996,231.839996,236.860001,231.020004,234.080002,2.323166e+08

# Create New DataFrame

In [31]:
new_data = []
tickers = ['AAPL', 'MSFT', 'GOOG','META']
for ticker in tickers:
 tkr = yf.Ticker(ticker)
 hist = tkr.history(period='5d').reset_index()
 records = hist[['Date','Close']].to_records(index=False)
 records = list(records)
 d = records
 records = [(ticker, str(elem[0])[:10], elem[1]) for elem in records]
 new_data = new_data + records 
print(new_data)

[('AAPL', '2023-03-28', 157.64999389648438), ('AAPL', '2023-03-29', 160.77000427246094), ('AAPL', '2023-03-30', 162.36000061035156), ('AAPL', '2023-03-31', 164.89999389648438), ('AAPL', '2023-04-03', 166.1699981689453), ('MSFT', '2023-03-28', 275.2300109863281), ('MSFT', '2023-03-29', 280.510009765625), ('MSFT', '2023-03-30', 284.04998779296875), ('MSFT', '2023-03-31', 288.29998779296875), ('MSFT', '2023-04-03', 287.2300109863281), ('GOOG', '2023-03-28', 101.36000061035156), ('GOOG', '2023-03-29', 101.9000015258789), ('GOOG', '2023-03-30', 101.31999969482422), ('GOOG', '2023-03-31', 104.0), ('GOOG', '2023-04-03', 104.91000366210938), ('META', '2023-03-28', 200.67999267578125), ('META', '2023-03-29', 205.35000610351562), ('META', '2023-03-30', 207.83999633789062), ('META', '2023-03-31', 211.94000244140625), ('META', '2023-04-03', 213.07000732421875)]

In [52]:
new_data

[('AAPL', '2023-03-28', 157.64999389648438),
 ('AAPL', '2023-03-29', 160.77000427246094),
 ('AAPL', '2023-03-30', 162.36000061035156),
 ('AAPL', '2023-03-31', 164.89999389648438),
 ('AAPL', '2023-04-03', 166.1699981689453),
 ('MSFT', '2023-03-28', 275.2300109863281),
 ('MSFT', '2023-03-29', 280.510009765625),
 ('MSFT', '2023-03-30', 284.04998779296875),
 ('MSFT', '2023-03-31', 288.29998779296875),
 ('MSFT', '2023-04-03', 287.2300109863281),
 ('GOOG', '2023-03-28', 101.36000061035156),
 ('GOOG', '2023-03-29', 101.9000015258789),
 ('GOOG', '2023-03-30', 101.31999969482422),
 ('GOOG', '2023-03-31', 104.0),
 ('GOOG', '2023-04-03', 104.91000366210938),
 ('META', '2023-03-28', 200.67999267578125),
 ('META', '2023-03-29', 205.35000610351562),
 ('META', '2023-03-30', 207.83999633789062),
 ('META', '2023-03-31', 211.94000244140625),
 ('META', '2023-04-03', 213.07000732421875)]

# In Progress...

### - TimeSeries Data Structures for stock data
### - Charts for stock data
### - Linear Regression for stock data